<div class="container text-center vh-100 d-flex" style="background-color: #262626;">
    <div class="row align-items-center w-100">
        <div class="col w-100 mx-auto h-100 align-content-center">
            <div class="row" style="font-weight:800; color: #F2E527;">
                <p class="pb-3" style="font-size: 48px;">
                    Call Me
                </p>
                <p class="align-content-start" style="font-size: 96px;">
                    Reza Fadlillah Ardi
                </p>
            </div>
            <div class="row text-center" style="padding: 0 48px; font-size:24px; color: #F2F2F2;">
                Saya Seorang mahasiswa Teknik Informatika yang meminati beberapa bidang IT seperti Fullstack dan ML Engineer 
            </div>
        </div>
    </div>
</div>