<!-- <div class="container-fluid bg-dark" style="height: 100vh;">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../img/foodHome.png" class="d-block w-100 text-white" alt="1">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../img/drink.jpg" class="d-block w-100 text-white" alt="2">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../img/FoodHome.png" class="d-block w-100 text-white" alt="3">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

</div> -->
<!-- 
<div class=" d-flex align-items-center vh-100 w-100">
  <p class="justify-content-center mx-auto d-flex">
    Hello World
  </p>

</div> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <link href="assets/datatables/dataTables.dataTables.css" rel="stylesheet" />
    <link href="assets/datatables/dataTables.bootstrap5.css" rel="stylesheet" />
  </head>
  <body>
    <div
      class="container text-center vh-100 d-flex"
      style="background-color: #262626"
    >
      <div class="row align-content-center w-100">
        <div
          class="row align-content-center"
          style="font-size: 96px; font-weight: 800; color: #f2e527"
        >
          <p class="text-center">Kuyliner</p>
        </div>
        <div
          class="row text-center"
          style="padding: 0 48px; font-size: 20px; color: #f2f2f2"
        >
          <p class="text-center">
            Website CRUD sederhana yang menyimpan data Makanan dan Minuman dari
            seluruh dunia!
          </p>
        </div>
        <div class="row">
          <div class="col align-content-end">
            <a class="btn btn-outline-warning" href="?page=makanan">Makanan</a>
          </div>
          <div class="col align-content-start">
            <a class="btn btn-outline-warning" href="?page=minuman">Minuman</a>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
